body{
    background-color: #f6bf42;
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    height: 100%;
}
header, footer {
 color: #ffffff;
 background-color: #f3856d;
 width: 100%;
 height: 50px;
}
header{
    font-family: 'Rambla', sans-serif;
    font-size: 1.0em;
}

#contenedor{
    background-image: url(../images/phy11.jpg);
    display: block;
    height: 800px;
}

footer{
    text-align: center;
}
